body {
    margin-left: 10px;
    margin-right: 10px;
}

header {
    background-color: blue;
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    align-items: center;
    user-select: none;
}
header .topic {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    font-size: 40px;
    max-width: 800px;
    user-select: none;
}
.banner img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}




@media (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        background-color: red;
        height: fit-content;
    }
}